# Introduction to Python

- General Purpose **"interpreted"** language.
- **Leading whitespace** (spaces and tabs) at the beginning of a logical line is used to compute the indentation level of the line and that **indentation** is used to determine the grouping of statements.
- Data types are **strongly** and **dynamically** typed

## 1. Hello World

In [1]:
print('Hello World')

Hello World

## 2. Variable semantics

Dynamically Typed

In [2]:
x = 1         # x is an integer
x = 'hello'   # now x is a string
x = [1, 2, 3] # now x is a list

## 3. Operators

In [3]:
a = 2; b = 5;
print(b / a)
print(b // a)
print(b % a)
print(b ** a)

2.5
2
1
25

In [4]:
x = 12

In [5]:
(x > 10) and (x % 2 ==0)

True

In [6]:
x in [10, 15, 20]

False

## 3. Built-In Types

**Integers**

In [7]:
x = 5

**Floats**

In [8]:
y = 2.4

**String**

In [9]:
s = "Winter is coming"

**Boolean**

In [10]:
comp = (10 > 8)
comp

True

In [11]:
type(comp)

bool

## 4. Built-in Data Structures

- Lists

In [12]:
x = [1, 2, 3, 4]

In [13]:
x[0]

1

In [14]:
len(x)

4

In [15]:
x[-2]

3

In [16]:
x[-2:]

[3, 4]

In [17]:
x.append(5)
x

[1, 2, 3, 4, 5]

Ex: Use slicing to pick out `2` and `3` from the above list `x`.

In [18]:
# Your Code Here

- Tuples

In [19]:
t = (4, 5)

In [20]:
t[0]

4

- Dictionaries

In [21]:
d = {'a': 2, 'b': 3}

In [22]:
d['a']

2

In [23]:
d['c'] = 4

In [24]:
d

{'a': 2, 'b': 3, 'c': 4}

- Sets

In [25]:
s = {1, 2, 3, 3, 4}

In [26]:
s

{1, 2, 3, 4}

## 5. Control-Flow Statements

**if-elif-else**

In [27]:
x = -15

if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is unlike anything I've ever seen...")

-15 is negative

**for loop**

In [28]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [29]:
for x in [1, 2, 4]:
    print(x, end=' ')

1 2 4

In [30]:
days = ['Sunday', 'Monday', 'Tuesday']

for i, day in enumerate(days):
    print(i, day)

0 Sunday
1 Monday
2 Tuesday

#### Get help information

>`>> enumerate?`

**while loop**

In [31]:
i = 0
while i < 5:
    print(i, end= ' ')
    i += 1

0 1 2 3 4

In [32]:
# skip 2 stop at 4

i = 0
while i < 5: 
    i += 1
    if i == 2:
        continue
    elif i == 4:
        break
    print(i, end= ' ')

1 3

## 6. Defining Functions

In [33]:
def double(num):
    return 2 * num

In [34]:
double(50)

100

### Multiple returns

In [35]:
def double_and_half(num):
    return num*2, num*0.5

In [36]:
double_and_half(50)

(100, 25.0)

**Lambda (Anonymous) functions**

In [37]:
mult = lambda x, y: x * y

In [38]:
mult(2, 3)

6

In [39]:
double = lambda x: 2*x

In [40]:
double(2)

4

In [41]:
mult_and_div = (      lambda x, y: x*y,           x/y     )

In [42]:
mult_and_div(2,3)

TypeError: 'tuple' object is not callable

In [43]:
mult_and_div = lambda x, y: (x*y, x/y)

In [44]:
mult_and_div(2,3)

(6, 0.6666666666666666)

## Exercises

a) Write a function `is_palindrome` to check if a string is a palindrome.

In [50]:
def is_palindrome(word):
    return word == word[::-1]

In [52]:
print(is_palindrome("abba"))
print(is_palindrome("deed"))
print(is_palindrome("cat"))
print(is_palindrome("malayalam"))
print(is_palindrome("bottle"))

True
True
False
True
False

b) Write a function `first_letters` that given a list of names, returns a dictionary with single character, representing first letter of names, as keys and number of names with that first letter as the value.

Eg: ['Labin', 'Sachin', 'Samrat', 'Srijana', 'Dhiraj', 'Bijay', 'Raju'] -> {'L': 1, 'S': 3, 'D':1, 'B': 1, 'R': 1}

In [53]:
def first_letters(los):
    char_dict = {}
    for name in los:
        char_dict.setdefault(name[0], 0)
        char_dict[name[0]] += 1
    return char_dict

In [54]:
def first_letters2(los):
    char_dict = {}
    for name in los:
        if name[0] not in char_dict:
            char_dict[name[0]] = 0
        char_dict[name[0]] += 1
    return char_dict

In [55]:
los = ['Labin', 'Sachin', 'Samrat', 'Srijana', 'Dhiraj', 'Bijay', 'Raju', 'Manish']
print(first_letters(los))
print(first_letters2(los))

{'L': 1, 'S': 3, 'D': 1, 'B': 1, 'R': 1, 'M': 1}
{'L': 1, 'S': 3, 'D': 1, 'B': 1, 'R': 1, 'M': 1}